<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highlight>sit amet consectetur</span> adipisicing elit. Illo veritatis
        neque eaque? Vero laboriosam iste fuga distinctio temporibus quod. Laboriosam nulla aperiam expedita magni
        obcaecati suscipit dolore incidunt sint maiores!</p>
    <p class="test-xs">Numero de Clientes <app-counter [duration]="duration()" [message]="message()" /></p>
    <div>
        <app-wave-audio [audioUrl]="'/assets/musica.mp3'"></app-wave-audio>
    </div>
</div>